/* Center the Discord icon with the text */
.social-media-list .icon {
  display: inline-flex;
  align-items: center; /* Vertically center the icon with the text */
  justify-content: center; /* Horizontally center the icon */
  margin-right: 10px; /* Add some spacing between the icon and text */
  margin-top: 10px;
}
