:root {
     --bg-color: #202c40;
     --text-color: #e0e0e0;
     --link-color: #4493f8;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #202c40;
        --text-color: #e0e0e0;
        --link-color: #4493f8;
    }
}
