:root {
    --bg-color: #111a23;
    --text-color: #e0e1e3;
    --link-color: #d97706;
    --nav-text-color: #d97706;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--text-color);
    
}

a:hover {
    color: var(--text-color);
    
}

/* Target the title */
.site-title {
    color: var(--nav-text-color) !important;
}

/* Target the navigation links */
.site-nav a {
    color: var(--nav-text-color) !important;
}

/* Ensure dark mode follows user preference */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #111a23;
        --text-color: #e0e1e3;
        --link-color: #d97706;
        --nav-text-color: #d97706;
    }
}
